<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
</head>
<body>
    <div>
        <h1>To Do List</h1>
        <form action="/add" method="post">
            <div>
                <label for="">Enter the task</label>
                <input type="text" name="name">
                <button type="submit">Add Task</button>
            </div>
        </form>
        <table>
            <tbody>
                {%for todo in todo_list%}
                <tr>
                    <td>{{todo.task_id}}</td>
                    <td>{{todo.name}}</td>
                    <td><a href="/delete/{{todo.task_id}}">Delete</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>
</body>
</html>